# yaml-language-server: $schema=values.schema.json

# @schema
# required: false
# @schema
replicas: 1
# Use this only if you want to replace the default that is .Chart.Name as the name of all the objects.
# @schema
# required: false
# @schema
nameOverride: ""
# @schema
# required: false
# @schema
image:
  # @schema
  # required: false
  # @schema
  repository: docker.io/flanksource/incident-commander
  # @schema
  # required: false
  # @schema
  pullPolicy: IfNotPresent
  # @schema
  # required: false
  # @schema
  tag: "v0.0.1570"
# @schema
# required: false
# @schema
global:
  # @schema
  # required: false
  # @schema
  logLevel: ""
  # @schema
  # required: false
  # @schema
  imageRegistry: public.ecr.aws
  # @schema
  # required: false
  # @schema
  imagePrefix: flanksource
  # @schema
  # type: object
  # additionalProperties: true
  # @schema
  labels: {}
  # @schema
  # required: false
  # @schema
  serviceMonitor:
    enabled: false
    labels: {}
  # @schema
  # required: false
  # @schema
  ui:
    host: "mission-control-ui.local"
    tlsSecretName: "mission-control-ui-tls"
  # @schema
  # required: false
  # @schema
  api:
    host: "mission-control-ui.local"
    tlsSecretName: ""
  # @schema
  # required: false
  # @schema
  otel:
    collector: ""
    labels: ""
  # @schema
  # type: object
  # additionalProperties: false
  # @schema
  prometheus:
    # @schema
    # type: string
    # required: false
    # @schema
    connection: ""
  # @schema
  # required: false
  # @schema
  db:
    connectionPooler:
      enabled: false
      secretKeyRef:
        name: mission-control-connection-pooler
        key: DB_URL
      serviceAccount:
        # @schema
        # type: object
        # additionalProperties: true
        # @schema
        annotations: {}
      extraContainers: ""
      image: bitnami/pgbouncer:1.22.0
# @schema
# required: false
# @schema
serviceAccount:
  # @schema
  # required: false
  # @schema
  name: mission-control-sa
  # @schema
  # required: false
  # default: true
  # @schema
  create: true
  # @schema
  # required: false
  # @schema
  # -- Annotations to add to the service account
  annotations: {}
  rbac:
    # Impersonate allows the service account to impersonate as
    # - mission-control-reader-role
    # - mission-control-writer-role
    # This is used by kubeproxy.
    impersonate: false
    # Whether to create cluster-wide or namespaced roles
    clusterRole: true
    clusterAdmin: false
    # for secret management with valueFrom
    tokenRequest: true
    secrets: true
    configmaps: true
    # for use with kubernetes resource lookups
    readAll: true
    # Required for pod playbook actions
    podRun: true
    # Allows mission control to exec into pods
    exec: true
    # @schema
    # required: false
    # default: []
    # type: array
    # items:
    #   type: object
    # @schema
    extra: []
# @schema
# required: false
# @schema
impersonationRole:
  # @schema
  # required: false
  # type: array
  # items:
  #   type: string
  # @schema
  namespaces:
    - default
  createNamespaces: true
# @schema
# required: false
# @schema
extraArgs: {}
# @schema
# required: false
# @schema
externalPostgrest:
  enable: true
  tag: v10.2.0
  # supabase/postgrest if registry is ecr and postgrest/postgrest otherwise
  imageName: ""
  logLevel: info
  dbScema: public
  dbAnonRole: postgrest_anon
  maxRows: 2000
# Specify the cel-go script or the file path to the cel script.
# Script is used to map the user identity to the role & teams.
# @schema
# required: false
# @schema
identityRoleMapper:
  # specify the script inline
  script: ""
  # specify the script via a config map that'll be mounted to `mountPath`
  configMap:
    name: ""
    key: ""
    mountPath: "/etc/identity-role-mapper"
# @schema
# required: false
# @schema
serviceMonitor:
  enabled: false
  # @schema
  # additionalProperties: true
  # type: object
  # @schema
  labels: {}
# Configuration for pushing data to upstream
# upstream_push:
#   name: ''
#   host: ''
#   user: ''
#   password: ''
#   labels: 'key1=val1,key2=val2'
# @schema
# required: false
# additionalProperties: true
# @schema
upstream_push: {}
# Allowed values are [none, kratos, clerk, basic]
# @schema
# required: false
# @schema
authProvider: kratos
# @schema
# required: false
# @schema
clerkJWKSURL: ""
# @schema
# required: false
# @schema
clerkOrgID: ""
# @schema
# required: false
# @schema
htpasswd:
  create: false
  secretName: ""
  secretKey: htpasswd
# @schema
# required: false
# @schema
otel:
  # OpenTelemetry gRPC collector endpoint in host:port format
  collector: "{{.Values.global.otel.collector}}"
  serviceName: "mission-control"
  labels: "{{ .Values.global.otel.labels }}"
# @schema
# required: false
# @schema
# -- artifact connection string
artifactConnection: ""
# @schema
# required: false
# @schema
# -- kms connection string
kmsConnection: ""
# @schema
# required: false
# @schema
# -- llm connection string
llmConnection: ""
# Properties to configure mission-control feature sets
# @schema
# required: false
# additionalProperties: true
# type: object
# @schema
properties:
  # @schema
  # type: [string,boolean]
  # @schema
  incidents.disable: true
  # @schema
  # type: [string,boolean]
  # @schema
  logs.disable: true
# -v, -vv, -vvv
# @schema
# required: false
# @schema
logLevel: "{{.Values.global.logLevel}}"
# @schema
# required: false
# @schema
jsonLogs: true
# Dedicated unauthenticated metrics port (0 disables). /metrics on main server unchanged.
# @schema
# required: false
# @schema
metricsPort: 0
# @schema
# required: false
# @schema
permissions:
  # @schema
  # type: boolean
  # required: false
  # @schema
  # -- when enabled, users must have explicit permissions to run playbooks
  # otherwise, editors automatically have permission to run playbooks.
  playbooks: false
  # @schema
  # type: boolean
  # required: false
  # @schema
  # -- when enabled, users must have explicit permissions to run connections
  # otherwise, editors automatically have permission to run connections.
  connections: false
  # @schema
  # type: boolean
  # required: false
  # @schema
  # -- when enabled, services must have explicit permissions to read configs
  # otherwise, system automatically has permission to read all configs.
  configs: false
  # @schema
  # type: boolean
  # required: false
  # @schema
  # -- when enabled, services must have explicit permissions to read components
  # otherwise, system automatically has permission to read all components.
  components: false
# @schema
# required: false
# @schema
db:
  create: true
  # @schema
  # type: object
  # additionalProperties: true
  # properties: {}
  # @schema
  conf:
    listen_addresses: "*"
    max_connections: 200
    shared_buffers: 1GB
    effective_cache_size: 3GB
    maintenance_work_mem: 256MB
    wal_buffers: 16MB
    effective_io_concurrency: 200
    work_mem: 10MB
    max_wal_size: 4GB
    log_autovacuum_min_duration: 10s
    log_connections: "off"
    log_disconnections: "off"
    log_destination: "stderr"
    log_directory: "/var/log/postgresql"
    log_file_mode: 0644
    log_filename: "postgresql-%d.log"
    log_line_prefix: "%m [%p] %q[user=%u,db=%d,app=%a] "
    log_lock_waits: "on"
    log_min_duration_statement: "1s"
    log_rotation_age: "1d"
    log_rotation_size: "100MB"
    log_truncate_on_rotation: "on"
    log_statement: "all"
    log_temp_files: 100MB
    log_timezone: "UTC"
    logging_collector: "on"
    ssl: "off"
    timezone: "UTC"
    password_encryption: scram-sha-256
    extra_float_digits: 0
  secretKeyRef:
    name: incident-commander-postgres
    key: DB_URL
  jwtSecretKeyRef:
    name: incident-commander-postgrest-jwt
    key: PGRST_JWT_SECRET
  storageClass: ""
  storage: 20Gi
  shmVolume: 256Mi
  resources:
    requests:
      memory: 4Gi
  pganalyze:
    enabled: false
    systemID: mission-control
    secretName: pganalyze
# @schema
# required: false
# @schema
smtp:
  secretRef:
    name: incident-commander-smtp
    # Secret object should contain
    # SMTP_HOST: <host>
    # SMTP_PORT: <port>
    # SMTP_USER: <user>
    # SMTP_PASSWORD: <password>
# @schema
# required: false
# @schema
adminPassword:
  secretKeyRef:
    # set to false if you want to pass in an existing secret
    create: true
    name: mission-control-admin-password
    key: password
# @schema
# required: false
# additionalProperties: true
# @schema
canary-checker:
  image:
    type: full
  disablePostgrest: true
  logLevel: "{{.Values.global.logLevel}}"
  otel:
    collector: "{{ .Values.global.otel.collector }}"
    labels: "{{ .Values.global.otel.labels }}"
  db:
    runMigrations: false
    external:
      enabled: true
      create: false
      secretKeyRef:
        name: incident-commander-postgres
        key: DB_URL
  flanksource-ui:
    # Disable UI via canary-checker by default.
    enabled: false
# @schema
# required: false
# additionalProperties: true
# @schema
config-db:
  disablePostgrest: true
  otel:
    collector: "{{ .Values.global.otel.collector }}"
    labels: "{{ .Values.global.otel.labels }}"
  logLevel: "{{.Values.global.logLevel}}"
  db:
    runMigrations: false
    embedded:
      persist: false
    external:
      enabled: true
      secretKeyRef:
        name: incident-commander-postgres
        key: DB_URL
# @schema
# required: false
# @schema
apm-hub:
  enabled: false
  db:
    enabled: false
    secretKeyRef:
      create: false
      name: incident-commander-postgres
      key: DB_URL
      # Enable ingress only if the UI is deployed outside of the cluster and calls public incident-commander api endpoint.
# @schema
# required: false
# @schema
ingress:
  enabled: false
  # @schema
  # type: object
  # additionalProperties: true
  # @schema
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  host: "{{.Values.global.api.host}}"
  tls:
    - hosts:
        - "{{.Values.global.api.host}}"
      secretName: "{{.Values.global.api.tlsSecretName}}"
# @schema
# required: false
# type: boolean
# @schema
cleanupResourcesOnDelete: false
# @schema
# required: false
# additionalProperties: true
# @schema
flanksource-ui:
  enabled: true
  nameOverride: "incident-manager-ui"
  fullnameOverride: "incident-manager-ui"
  # This should be $host/api/.ory
  oryKratosURL: http://{{.Values.global.ui.host}}/api/.ory
  backendURL: http://mission-control:8080
  ingress:
    enabled: true
    host: "{{.Values.global.ui.host}}"
    tls:
      - hosts:
          - "{{.Values.global.ui.host}}"
        secretName: "{{.Values.global.ui.tlsSecretName}}"
# - if chart name (incident-commander) is changed, change the urls. E.g.
# oryKratosURI url points to the incident-commander service with a suffix.
#
# - deletion of configmap and using our own secrets file etc. `make chart` will
# extract kratos and delete configmap-config.yaml, so that we can explicitly -
# set config manually. Allows for us to use templates for config and include -
# identity-schema json file (encoding it as part of templating process).
#
# - Disable kratos secret. Again, we explicitly generate secrets.yaml to include
# database URL in it.
# @schema
# required: false
# additionalProperties: true
# @schema
kratos:
  enabled: true
  image:
    repository: public.ecr.aws/k4y9r6y5/kratos
  deployment:
    extraArgs:
      - --watch-courier
      - --config
      - /etc/custom/config/kratos.yaml
    extraVolumeMounts:
      - name: kratos-custom-config-volume
        mountPath: /etc/custom/config
        readOnly: true
    extraVolumes:
      - name: kratos-custom-config-volume
        configMap:
          name: mission-control-kratos-config
  automigration:
    customArgs:
      - "migrate"
      - "sql"
      - "-e"
      - "--yes"
      - "--config"
      - "/etc/custom/config/kratos.yaml"
  courier:
    enabled: false
  secret:
    # Disable kratos secret generation. We explicitly generate kratos secret to have access to database URL for dns key in secret. See: /chart/templates/secrets.yaml
    enabled: false
  # don't include Release.name in kratos name
  fullnameOverride: kratos
  ingress:
    public:
      enabled: false
  # NOTE(ciju): we have our own template for kratos-config. Which means kratos
  # templates doesn't have access to the config file, to generate hash from.
  # This could be fixed by explicitly passing hash value?
  configmap:
    hashSumEnabled: false
  kratos:
    automigration:
      enabled: true
      # Could be either job or initContainer. initContainer used here because
      # job runs as a pre-install,pre-update hook, but requires values from
      # secret, which are not yet install when the charts are being installed
      # for the first time.
      type: initContainer
    # Config to be merged in kratos ConfigMap. See: templates/kratos-config.yaml
    config:
      secrets:
        default:
          - yet another secret
          - lorem ipsum dolores
          - just a random a string secret
      courier:
        smtp:
          connection_uri: smtp://wrong-url
      session:
        # Session lifespan. Default: 14 days
        lifespan: 336h
      log:
        level: warning
# @schema
# required: false
# @schema
resources:
  requests:
    cpu: 100m
    memory: 768Mi
  limits:
    memory: 1024Mi
    cpu: 500m
# @schema
# required: false
# @schema
grafana:
  # @schema
  # required: false
  # @schema
  scrapeMetricsDashboard:
    enabled: false
    # @schema
    # type: object
    # additionalProperties: true
    # required: false
    # @schema
    labels:
      # @schema
      # required: false
      # @schema
      grafana_dashboard: "1"
# @schema
# required: false
# type: string
# @schema
connectionName: mission-control-db
# @schema
# required: false
# type: boolean
# @schema
createConnection: true
# @schema
# required: false
# additionalProperties: false
# @schema
views:
  # If this is set to false, no views will be created
  enabled: true
  # @schema
  # required: false
  # type: boolean
  # @schema
  kubernetes: true
  # @schema
  # type: object
  # required: false
  # @schema
  unhealthyConfigs:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
    # @schema
    # required: false
    # type: array
    # items:
    #   type: string
    # @schema
    excludedTypes:
      - MissionControl::Application
      - MissionControl::Canary
      - MissionControl::Connection
      - MissionControl::IncidentRule
      - MissionControl::Notification
      - MissionControl::NotificationSilence
      - MissionControl::Permission
      - MissionControl::PermissionGroup
      - MissionControl::Playbook
      - MissionControl::ScrapeConfig
      - MissionControl::Scope
      - MissionControl::Team
      - MissionControl::View
  # @schema
  # type: object
  # required: false
  # @schema
  dashboard:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: true
  # @schema
  # type: object
  # required: false
  # @schema
  system:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: true
  # @schema
  # type: object
  # required: false
  # @schema
  job_histories:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
  # @schema
  # type: object
  # required: false
  # @schema
  recentChanges:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
  # @schema
  # type: object
  # required: false
  # @schema
  failingHealthChecks:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
  # @schema
  # type: object
  # required: false
  # @schema
  notificationSendHistory:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
  # @schema
  # required: false
  # type: object
  # @schema
  pods:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
# @schema
# required: false
# additionalProperties: false
# @schema
mission-control-kubernetes-view: {}
# @schema
# required: false
# additionalProperties: true
# @schema
mission-control-misc-playbooks:
  enabled: true
# @schema
# required: false
# additionalProperties: true
# @schema
disabled:
  canary-checker: false
