{{- if .Values.createConnection }}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/flanksource/duty/main/schema/openapi/connection.schema.json
apiVersion: mission-control.flanksource.com/v1
kind: Connection
metadata:
  name: {{ .Values.connectionName }}
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
    {{- include "incident-commander.extraLabels" . | nindent 4 }}
spec:
  postgres:
    url:
      valueFrom:
        secretKeyRef:
          name: incident-commander-postgres
          key: DB_URL
{{- end }}