{{- if eq .Values.db.create true }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-scripts
data:
  post-startup.sh: |
    #!/bin/bash
    psql -U postgres -c "ALTER USER postgres PASSWORD '${POSTGRES_PASSWORD}';"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
spec:
  serviceName: postgresql
  selector:
    matchLabels:
      app: postgresql
  replicas: 1
  template:
    metadata:
      labels:
        app: postgresql
        app.kubernetes.io/name: postgresql
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: "{{- .Values.db.shmVolume }}"
        - name: conf
          configMap:
            name: postgresql-conf
            optional: true
        - name: logs
          emptyDir: {}
        - name: scripts
          configMap:
            name: postgresql-scripts
            defaultMode: 0755

      initContainers:
        - command:
          - sh
          - -c
          - mkdir -p /pv-root/postgres && chmod -R 0750 /pv-root/postgres && chown 999:999 -R /pv-root/postgres &&  chmod -R 777 /dev/shm
          image: busybox
          name: postgres-perms
          volumeMounts:
          - mountPath: /pv-root
            name: postgresql
          - name: dshm
            mountPath: /dev/shm
      containers:
      - name: postgresql
        image: ghcr.io/flanksource/postgres:17.6-497383c
        command:
          - /usr/local/bin/docker-entrypoint.sh
          - -D
          - /var/lib/postgresql/data
          {{- range $k, $v := .Values.db.conf }}
          - '--{{ $k }}={{ $v }}'
          {{- end }}
        resources:
            {{- toYaml .Values.db.resources | nindent 12 }}
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data
          - name: POSTGRES_DB
            value: mission_control
        startupProbe:
          initialDelaySeconds: 30
          exec:
            command:
            - /post-startup.sh
        volumeMounts:
          - name: dshm
            mountPath: /dev/shm
          - name: postgresql
            mountPath: /var/lib/postgresql/data
            subPath: postgres
          - name: logs
            mountPath: /var/log/postgresql
          - name: scripts
            mountPath: /post-startup.sh
            subPath: post-startup.sh
        envFrom:
          - secretRef:
              name: {{ .Values.db.secretKeyRef.name }}

      {{- if .Values.db.pganalyze.enabled }}
      - name: pganalyze-collector
        image: quay.io/pganalyze/collector:stable
        env:
          - name: DB_HOST
            value: localhost
          - name: DB_NAME
            value: mission_control
          - name: DB_USERNAME
            value: pganalyze
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.pganalyze.secretName }}
                key: DB_PASSWORD
          - name: PGA_API_KEY
            valueFrom:
              secretKeyRef:
                name: {{ .Values.db.pganalyze.secretName }}
                key: PGA_API_KEY
          - name: PGA_API_SYSTEM_ID
            value: {{ .Values.db.pganalyze.systemID }}
          - name: PGA_ENABLE_LOG_EXPLAIN
            value: "true"
          - name: LOG_LOCATION
            value: /var/log/postgresql

        volumeMounts:
          - name: logs
            mountPath: /var/log/postgresql

      {{- end }}

  volumeClaimTemplates:
  - metadata:
      name: postgresql
    spec:
      accessModes: ["ReadWriteOnce"]
      {{ if .Values.db.storageClass }}
      storageClassName: {{ .Values.db.storageClass }}
      {{ end }}
      resources:
        requests:
          storage: {{ .Values.db.storage }}

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgresql
  ports:
  - port: 5432
    targetPort: 5432

{{- end }}
