apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.Values.serviceAccount.name}}
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{if .Values.serviceAccount.rbac.clusterRole}}Cluster{{end}}Role
metadata:
  creationTimestamp: null
  name: {{ include "incident-commander.name" . }}-role
rules:
- apiGroups:
  - mission-control.flanksource.com
  resources:
  - connections
  - incidentrules
  - playbooks
  - notifications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mission-control.flanksource.com
  resources:
  - connections/finalizers
  - incidentrules/finalizers
  - playbooks/finalizers
  - notifications/finalizers
  verbs:
  - update
- apiGroups:
  - mission-control.flanksource.com
  resources:
  - connections/status
  - incidentrules/status
  - playbooks/status
  - notifications/status
  verbs:
  - get
  - patch
  - update
{{- if .Values.serviceAccount.rbac.secrets}}
- apiGroups:
    - v1
  resources:
    - secrets
  verbs:
    - get
    - list
{{- end}}
{{- if .Values.serviceAccount.rbac.configmaps}}
- apiGroups:
    - v1
  resources:
    - configmaps
  verbs:
    - get
    - list
{{- end}}
{{- if .Values.serviceAccount.rbac.exec}}
- apiGroups: [""]
  resources:
    - pods/attach
    - pods/exec
    - pods/log
  verbs:
    - '*'
{{- end}}
{{- if .Values.serviceAccount.rbac.podRun}}
- apiGroups: [""]
  resources:
    - pods/attach
    - pods/exec
    - pods/log
    - pods
  verbs:
    - '*'
{{- end}}
{{- if .Values.serviceAccount.rbac.tokenRequest}}
- apiGroups:
    - authentication.k8s.io/v1
  resources:
    - serviceaccounts/token
  verbs:
    - create
{{- end}}
{{- if .Values.serviceAccount.rbac.readAll}}
- apiGroups:
    - "*"
  resources:
    - "*"
  verbs:
    - list
    - get
    - watch
{{- end}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{if .Values.serviceAccount.rbac.clusterRole}}Cluster{{end}}RoleBinding
metadata:
  name: {{ include "incident-commander.name" . }}-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{if .Values.serviceAccount.rbac.clusterRole}}Cluster{{end}}Role
  name: {{ include "incident-commander.name" . }}-role
subjects:
  - kind: ServiceAccount
    name: {{.Values.serviceAccount.name}}
    namespace: {{ .Release.Namespace }}
