apiVersion: v1
kind: Service
metadata:
  name: {{ include "incident-commander.name" . }}
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
    {{- if gt (int .Values.metricsPort) 0 }}
    - port: {{ .Values.metricsPort }}
      targetPort: {{ .Values.metricsPort }}
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "incident-commander.selectorLabels" . | nindent 4 }}
