{{- if eq "true"  (include "truthy"  ( list .Values.serviceMonitor.enabled .Values.global.serviceMonitor.enabled ))  }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "incident-commander.name" . }}-monitor
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
    {{- range $k, $v :=  (merge .Values.serviceMonitor.labels .Values.global.serviceMonitor.labels )}}
    {{$k}}: {{$v | quote}}
    {{- end }}
spec:
  jobLabel: {{ include "incident-commander.name" . }}
  endpoints:
    - port: {{ if gt (int .Values.metricsPort) 0 }}metrics{{ else }}http{{ end }}
      interval: 30s
  selector:
    matchLabels:
      {{- include "incident-commander.labels" . | nindent 6 }}
{{- end }}
