# yaml-language-server: $schema=https://raw.githubusercontent.com/flanksource/duty/main/schema/openapi/view.schema.json
{{- if and .Values.views.enabled .Values.views.pods.enabled (not .Values.global.prometheus.connection) }}
apiVersion: mission-control.flanksource.com/v1
kind: View
metadata:
  name: mission-control-pods
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
    {{- include "incident-commander.extraLabels" . | nindent 4 }}
spec:
  display:
    title: Mission Control Pods
    icon: pod
    {{- if .Values.views.pods.sidebar }}
    sidebar: true
    {{- end }}
  columns:
    - name: id
      type: string
      hidden: true
      primaryKey: true
    - name: namespace
      type: string
      card:
        position: subtitle
      icon: "'namespace'"
      filter:
        type: multiselect
      url:
        view:
          filter:
            viewvar__namespace: row.namespace
            viewvar__cluster: row.cluster
          name: >
            'namespace'
    - name: name
      type: config_item
      card:
        position: title
      url:
        config: row.id
    - name: status
      type: status
      icon: row.health
      card:
        position: subtitle
      filter:
        type: multiselect
    - name: health
      type: health
      hidden: true
      card:
        useForAccent: true
      filter:
        type: multiselect
    - name: created
      type: datetime
      card:
        position: body
    - name: updated
      type: datetime
      card:
        position: body
    - name: image
      type: string
      hidden: true
      card:
        position: body
    - name: node
      type: string
      hidden: true
      filter:
        type: multiselect
      card:
        position: body
  merge: |
    SELECT
      pod.id,
      pod.name,
      json_extract(pod.tags, '$.namespace') AS namespace,
      json_extract(pod.tags, '$.cluster') AS cluster,
      pod.status,
      pod.health,
      pod.config,
      pod.created_at,
      pod.updated_at
    FROM pod
    ORDER BY namespace, name
  queries:
    pod:
      configs:
        agent: "all"
        tagSelector: "namespace=mission-control" # Just for testing. Need a way to distinguish mission control pods
        types:
          - Kubernetes::Pod
  mapping:
    created: row.created_at
    updated: row.updated_at
    image: >
      has(row.config) ? row.config.JSON().spec.containers[0].image : "N/A"
    node: >
      has(row.config) ? (has(row.config.JSON().spec.nodeName) ? row.config.JSON().spec.nodeName : "N/A"): "N/A"

{{- end -}}
