name: Test Agent
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test-agent:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: Add helm repositories
        run: |
          helm repo add flanksource https://flanksource.github.io/charts
          helm repo add ory https://k8s.ory.sh/helm/charts
          helm repo update

      - name: Template agent chart
        run: |
          cd agent-chart
          helm dependency update .
          helm template . \
            --set upstream.host=host \
            --set upstream.password=password \
            --set upstream.agentName=agent
