name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Set up Helm
        uses: azure/setup-helm@18bc76811624f360dbd7f18c2d4ecb32c7b87bab # v1.1
        with:
          version: v3.11.3

      - name: Set up Python
        uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
        with:
          python-version: "3.9"
          check-latest: true

      - name: Install chart-testing dependencies
        run: pip install yamale==4.0.4 yamllint==1.33.0

      - name: Lint chart
        run: make lint


  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Free up disk space
        run: |
          initial_space=$(df / | grep / | awk '{print $4}')
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf /usr/local/share/boost
          rm -rf $AGENT_TOOLSDIRECTORY
          rm -rf /opt/hostedtoolcache

          final_space=$(df / | grep / | awk '{print $4}')
          difference=$((final_space - initial_space))
          echo "Disk space difference (in KB): $difference"

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v4.0.4

      - name: build dependency
        run: |
          cd chart && helm dependency build

      - uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
        with:
          python-version: "3.9"
          check-latest: true

      - name: Create kind cluster
        uses: helm/kind-action@9e8295d178de23cbfbd8fa16cf844eec1d773a07 # v1.4.0

      - name: Set up kubectl
        uses: azure/setup-kubectl@901a10e89ea615cf61f57ac05cecdf23e7de06d8 # v3.2

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: chart/test/go.mod
          check-latest: true

      - name: Build chart Go tests
        working-directory: chart/test
        run: |
          export KUBECONFIG="${KUBECONFIG:-$HOME/.kube/config}"
          go test -c -o chart-tests.test

      - name: Run chart Go tests
        working-directory: chart/test
        run: |
          export KUBECONFIG="${KUBECONFIG:-$HOME/.kube/config}"
          ./chart-tests.test -test.v -test.timeout 20m -ginkgo.v -ginkgo.trace -ginkgo.progress
